.user-mastodon .reblog {
    text-align: left;
}

.user-mastodon .author {
    display: flex;
    margin-bottom: 1rem;
    margin: 0;
    padding: 0;
}

.user-mastodon .avatar {
    height: 3rem;
    width: 3rem;
}

.user-mastodon .avatar img {
    border-radius: 15%;
    border: none;
    height: 2.8rem;
    width: 2.8rem;
}

.user-mastodon .author-info {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    justify-content: center;
    margin: 0 0.5rem;
    text-align: left;
    word-break: break-word;
}

.user-mastodon .author-info .author-displayname {
    color: #555;
    text-decoration: none;
}

.user-mastodon .content {
    font-size: 1.3rem;
    text-align: left;
    word-break: break-word;
}

.user-mastodon .enclosure img {
    width: 100%;
    height: 35rem;
    object-fit: cover;
    object-position: 100% 45%;
}

.user-mastodon .created-at {
    font-size: 0.9rem;
    padding-top: 1rem;
    text-align: right;
}

.user-mastodon .created-at a {
    color: #555;
    text-decoration: none;
}

.user-mastodon .mastodon-status {
    border-bottom: solid 1px #999;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
