{% import "macros.html" as macros %} {% import "content.html" as content %}

<!doctype html>
<html lang="en">
  {{ macros::head() }}

  <body>
    {{ macros::header() }}

    <section id="about">{{ content::about() }}</section>

    <section id="myexpertise">{{ content::myexpertise() }}</section>

    <section id="whatisay">{{ content::mastodon() }}</section>

    {% block content %}
    <p></p>
    {% endblock content %} {{ macros::footer() }} {{ macros::google_analytics()
    }} {{ macros::umami_analytics() }}
  </body>
</html>
